$placeHolderColor: #C9CBD0;

.text-input {
  position: relative;

  &__placeholder {
    position: absolute;
    margin-top: -3px;
    margin-left: 5px;
    padding: 0 3px;
    background: #fff;
    color: $placeHolderColor;
    font-size: 5px;
    text-transform: uppercase;
  }

  &__input {
    display: block;
    border: 1px solid $placeHolderColor;
    border-radius: 2px;
    padding: 10px 20px;
    min-width: 100%;
    max-width: 100%;
    color: #000;
    font-weight: 800;

    &:focus {
      outline: none;
    }
  }
}